h1 {
    color:black;
    font-family: sans-serif;
}
.header {
    background-image: url("/img/blackandwhite.jpg");

}

.underline1 {
    text-decoration: underline;
    text-decoration-color: yellow;
}
.heading {
    font-weight: bolder;
    padding: 2px;
}

